node_modules/
dist/
.env
server/.env
client/dist/
store.db
server/store.db
about.html
cart.html
checkout.html
contact.html
login.html
product.html
script.js
shop.html
signup.html
wishlist.html

.vercel
.env*
